@import "tailwindcss";

@theme {
  --font-inter-medium_18pt: "Inter Medium 18pt", sans-serif;
  --font-regular_18pt: "Inter Regular 18pt", sans-serif;
  --font-semi_bold_24pt: "Inter SemiBold 24pt", sans-serif;

  --color-greyBg: #F9FCFE;
  --color-whiteBg: #FFFFFF;
  --color-border: #DEE5F0;
  --color-blueText: #1A3D63;
  --color-blueGradient1: #042862;
  --color-blueGradient2: #083987;
  --color-blueGradient3: #003EA2;
  --color-greenGradient1: #41F39BCC;
  --color-blueBg: #00173C;
  --color-blueBtnBg: #08386D;
  --color-darkBlueText: #0A1931;
  --color-greenBg: #41F39BCC;
  --color-green:  #41F39B;
}

@font-face {
  font-family: "Inter Medium 18pt";
  src: url("./assets/fonts/static/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Regular 18pt";
  src: url("./assets/fonts/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Hide global scrollbars while allowing scrolling */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: "Inter SemiBold 24pt";
  src: url("./assets/fonts/static/Inter_24pt-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

